body {
    margin: 0;
}

.first {
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.first-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 310px;
    padding: 20px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .first-header {
        display: none;
    }
}

.first-header-list {
    display: flex;
}

.list-item {
    margin: 10px;
    list-style: none;
    align-items: flex-end;
}

.active {
    text-decoration: none;
    font-family: 'Source Sans Pro';
    color: #FFFFFF;
    justify-content: space-between;
    font-size: 14px;
}

.first-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.main-title {
    color: #FFFF;
    font-size: 48px;
    font-family: 'Oswald';  
}

.main-cont {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.main-container {
    display: grid;
    gap: 80px;
    padding: 45px 150px;
}

@media only screen and (max-width: 768px) {
    .main-container {
        gap: 24px;
        padding: 24px 150px;
    }
}


.main-container-item {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    width: 426px;
}

.item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

@media only screen and (max-width: 768px) {
    .item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .item2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.icon {
    background-image: url("./assets/icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65px;
    width: 65px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.second-title {
    color: #464547;
    font-family: 'Oswald';
    font-size: 48px;
    width: 400px;
}

.second-cont {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    text-align: center;
    color: #666666;
    width: 500px;
    margin-top: 10px;
}

.second-cont-first {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    color: #000000;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 70px;
}

.more {
    border-radius: 20px;
    background-color: #55C2D8;
    border: none;
    text-align: center;
    width: 85px;
    height: 30px;
    margin-bottom: 35px;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    background-image: url("./assets/video-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.video-header {
    display: block;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin: 84px auto 53px;
}

.video-text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    width: 700px;
    margin: 70px auto;
}

.video-cycle {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background: #39C2D7;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 35px 55px;
    border-color: transparent transparent transparent #ffffff;
}

.footer {
    background-color:  #464547;
    width: 100vw;
    height: 170px;
    display: grid;
    padding: 20px;
}


.footer-header {
    padding: 21px 0 11px 140px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.text1 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.text2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.text3 {
    grid-column: 6 / 8;
    grid-row: 2 / 3;
}

@media only screen and (max-width: 768px) {
    .text1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .text2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .text3 {
        display: none;
    }
}
.footer-img {
    width: 20px;
    height: 20px;
}

.project {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    margin: 3px 0 3px 140px;
}